    body {
            font-family: "lato";
        }

        progress {
            color: #4f929e;
        }

        img {
            border: 1px solid #4f929e;
            width: 20%;
            height: 200px;
            border-radius: 50%;
            margin: 20px 20px;
            float: left;
            box-sizing: border-box;
            
        }

        h4 {
            border-left: 3px solid #3e95b0;
            padding-left: 5px;
        }

        .info {
            float: left;
            width: 50%;
            margin: 10px 10px;
            box-sizing: border-box;
            font-size: 1.1em;
        };

        .clear {
            clear: both;
        }

        .kd {
            clear: both;
            
        }
        .contact {
            background:#4f929e;
            margin: auto;
            padding: 20px 20px;
         }
    
       
        .banner {
            width: 100%;
            margin: 0px auto 0px auto;
            text-align: center;
        }
        
        .list {
	        display: inline;
	        margin: 0px 15px;
            color: white;
        }

        em {
            color: #3e95b0;
        }

        li {
            display: block;
            margin-bottom: 20px;
            border-left: 3px solid #3e95b0;
            padding-left: 5px;
        }

        content {
            max-width: 1000px;
            width: 90%;
        }

        .one {
            float: left;
        }

        .two {
            float: left;
        }

        .box {
            box-sizing: border-box;
            width: 50%;
            padding: 50px 50px;
        }

        h3 {
            color:#4f929e;
            font-weight: 600;
        }

	.contact {
        	text-align: center;
        	color: #ddd;
        }

        .border {
        	width: 100px;
        	height: 10px;
        	background: #34495e;
        	margin: 40px auto;
        }
        
        .contact-form {
        	max-width: 600px;
        	margin: auto;
        	padding: 0 10px;
        	overflow: hidden;
        }
        .contact-form-text {
        	display: block;
        	width: 100%;
        	box-sizing: border-box;
        	margin: 16px 0;
        	border: 0;
        	padding: 20px 40px;
        	outline: none;
        	color:#ddd;
        	transition: 0.5s;
        	background:#111;
        }

        .contact-form-text:focus {
        	box-shadow: 0 0 10px 4px #34493e;
        }

        textarea .contact-form-text {
        	resize: none;
        	height: 120px;
        }

        .contact-form-btn {
        	float: right;
        	border:0;
        	background: #3e95b0;
        	color: #fff;
        	padding: 12px 50px;
        	border-radius: 20px;
        	cursor: pointer;
        	transition: 0.5s;
        }

       
        input:valid {
        	border:2px solid #3e95b0;
        }
